<div class="container mt-3">
  <div class="row row-cols-1 row-cols-md-4 g-4 text-center">
    <div *ngFor="let Cofradias of cofradias" class="card border-secondary m-3" style="max-width: 18rem;">
      <div class="card-header">
        <h2>{{Cofradias.nombre}}</h2>
      </div>
      <div class="card-body text-secondary">
        <p class="card-text">{{Cofradias.informacion}}</p>
        <p class="card-text">Numero de hermanos: {{Cofradias.numHermanos}}</p>

      </div>
      <div class="card-footer">

          <button name="editar" [routerLink]="['/cofradias/form', Cofradias.id]" mat-raised-button extended color="primary" class="m-2">
            <mat-icon>create</mat-icon>
            Editar
          </button>
          <button name="eliminar" (click)="delete(Cofradias)" mat-raised-button extended color="warn">
            <mat-icon>clear</mat-icon>Borrar</button>


      </div>
    </div>

  </div>
</div>
