

<mat-toolbar color="warn" class="cabecera">
  <a href="#"><img class="imagenlogo" src="../../../assets/image/Capuchon SImbolo.png" alt=""></a>
  <a href="#"><span class="logo">GestiCofrade</span></a>
      <span class="spacer"></span>

  <ul>
  <a routerLink="/cofradias"><button mat-raised-button extended color="warn" class="mt-3">
    <mat-icon>archive</mat-icon>
    Todas las Cofradias
  </button></a>
  </ul>
  <ul>
  <a routerLink="/cofradias/form"><button mat-raised-button extended color="warn" class="mt-3">
    <mat-icon>add_circle</mat-icon>
    Nueva Cofradia
  </button></a>

  </ul>

  <span class="spacer"></span>

  <ul>
    <a routerLink="Login"><button mat-raised-button extended class="mt-3">

    Login
    </button></a>
</ul>
<ul>
    <a routerLink="Logout"><button mat-raised-button extended class="mt-3">Logout</button> </a>
</ul>
</mat-toolbar>
